.atma
{
    font-family: 'Noto Sans Bengali', sans-serif;
}
.balooda
{
    font-family: 'Baloo Da 2', cursive;
}
.tiro-bangla
{
    font-family: 'Tiro Bangla', serif;

}
.hind-siliguri
{
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Tiro Bangla', serif;
}
.galada
{
    font-family: 'Galada', cursive;

}
.noto-sans
{
    font-family: 'Noto Sans Bengali', sans-serif;
}
